accelerate>=0.30
blingfire
datasets>=2.19
faiss-cpu
fastparquet
huggingface-hub
langchain
langchain-community
langchain-openai
nltk
numpy
pandas>=2.2
peft>=0.11.1
pyarrow
ragas
rouge-score
safetensors
sentence-transformers
tiktoken
torch
tqdm
transformers>=4.43
